<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-main">

    <!--  csrf meta tag  -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">

    <!-- npm modules -->
        <!--  bootstrap  -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <!-- jQuery -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>

        <!-- bootstrap-datepicker -->
    <link rel="stylesheet" href="/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
    <script src="/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="/node_modules/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ko.min.js"></script>

    <!--  CDN  -->
        <!--  font-awesome  -->
    <script src="https://kit.fontawesome.com/dba50df964.js" crossorigin="anonymous"></script>


</head>
</html>