<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--nav main-->
<div th:fragment="nav-main">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="/images/logo_favores.png" th:href="@{/}" />
<!--                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>-->
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
<!--                    <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>-->
                    <li><a class="nav-link px-2 text-white" th:href="@{/groups}">그룹</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="그룹 검색..." aria-label="Search">
                </form>

                <div class="text-end">
                    <a type="button" class="btn btn-outline-light me-2" th:href="@{/login}">로그인</a>
                    <a class="btn btn-warning" th:href="@{/sign-up}">회원가입</a>
                </div>
            </div>
        </div>
    </header>
</div>
</html>