<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <div th:replace="/fragments/header.html :: header-main"></div>
</head>
<body>
<div th:replace="/fragments/nav.html :: nav-main"/>
<div class="container">
  <div class="row justify-content-center p-3">
    <div class="col-4 mt-5">
      <p class="fs-2 py-2">로그인</p>
      <div class="mb-3">
        <label for="username" class="form-label">아이디</label>
        <input class="form-control" id="username" aria-describedby="username-help">
        <small id="username-warn" class="form-text text-danger warn-message d-none">아이디 오류</small>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">패스워드</label>
        <input class="form-control" id="password" aria-describedby="password-help">
        <small id="password-warn" class="form-text text-danger warn-message d-none">패스워드 오류</small>
      </div>
      <div class="d-grid gap-2">
        <button id="loginBtn" class="btn btn-primary">로그인</button>
        <button id="loginBtna" class="btn btn-primary">로그인</button>
        <button id="loginBtnb" class="btn btn-primary">로그인</button>
        <button id="loginBtnc" class="btn btn-primary">로그인</button>
      </div>

    </div>
  </div>
</div>
<div th:replace="/fragments/footer.html :: footer"/>
</body>
</html>